@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    to top,
    rgb(187, 184, 184),
    rgb(253, 247, 247)
  );
}
