/* .main {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
} */
/* .firstcontainer {
  background-color: rgb(253, 250, 250);
  width: 50%;
  height: 100vh;
} */
.firstcontainer h1
/* .firstcontainer p */ {
  margin-left: 15% !important;
  margin-top: 10%;
  color: #003b6f;
  font-family: "Roboto", sans-serif;
}
/* .firstcontainer p {
  font-size: 1.2rem;
} */
/* .secondcontainer {
  width: 50%;
  background-color: rgb(228, 225, 225);
} */
/* .header {
  margin-top: 10%;
  text-align: start;
  margin-left: 9%;
  font-size: 2.3rem;
  color: #003b6f;
  font-family: "Roboto", sans-serif;

  font-weight: 500;
} */
/* 
.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
  height: auto;
  margin-top: 5%;
} */

.box1,
.box2 {
  width: 90%;
  height: 20vh;
  margin-top: 4.5%;
}
.box2 {
  margin-top: 0px !important;
  background-color: transparent;
  width: 100%;
}
/* input {
  width: 72%;
  height: 7vh;
  border-radius: 7px;
  border: none;
  background-color: red;
} */
/* .login-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 5%;
  width: 70%;
} */
/* a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;

  color: #003b6f;
} */
/* .btn {
  width: 30%;
  height: 8vh;
} */

/* .box p {
  margin-bottom: 0.5%;
  font-family: "Roboto", sans-serif;

  color: #003b6f;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 0px;
  letter-spacing: 1px;
} */
/* 
.logingoogle {
  background-color: white;
  text-align: center;
  width: 70%;
  margin-left: 5%;
  margin-top: 10%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 8vh;
} */
/* .googleicon {
  font-size: 3.5rem; 
}*/
/* .login {
  color: #003b6f;
  margin-left: 1%;
  font-size: 1.3rem;
  margin-top: 2.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
} */
/* 
img {
  margin-left: 10%;
} */
