@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


.container{
    background-color: rgb(230, 225, 225);

}
.login, .signup{
color: rgb(253, 38, 74);
font-size: 18px;
font-family: "Lora", serif;

}
.signup{
    margin-left: 20px;
}

.main{
    background-color: yellow;
    width: 50%;
    height: auto;
    margin-top: 50px;
}
.header{
    font-family: "Lora", serif;
    font-size: 50px;
    color: #0000CD;

}
p{ 
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: rgb(100, 100, 100);
  
}
.form{
    display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     background-color: white;
     margin: 0 auto;
      width: 90%;
    height: 70px;
    margin-top: 50px !important
}
.formbtn{
    width: 170px;
    height: 50px;
    border-radius: 0;
    font-family: "Lora", serif;
font-size: 30px;
color: rgb(253, 38, 74);
border-color: rgb(253, 38, 74);

}

.vl {
    border-left: 6px solid green;
    height: 50px;
  }
  