.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 92%;
  margin-bottom: 50px;
  margin-left: 35px;
  height: 10vh;
  margin-right: 5%;
}
